.coin-type {
  &.lite {
    background-color: rgb(49, 101, 212);
    color: rgb(255,255,255);
    border: solid;
    border-color: rgb(49, 101, 212);
  }

  &.green {
    background-color: rgb(74, 166, 88);
    color: rgb(255,255,255);
    border: solid;
    border-color: rgb(74, 166, 88);
  }
  
  &.native {
    background-color: rgb(255,255,255);
    border: solid;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }

  &.red {
    background-color: rgb(212, 49, 62);
    border: solid;
    border-color: rgb(212, 49, 62);
    color: rgb(255,255,255);
  }
}
