.coin-type {
  &.lite {
    background-color: rgb(78,115,223);
    color: rgb(255,255,255);
    border: solid;
    border-color: rgb(78,115,223);
  }

  &.green {
    background-color: rgb(0,178,26);
    color: rgb(255,255,255);
    border: solid;
    border-color: rgb(0,178,26);
  }
  
  &.native {
    background-color: rgb(255,255,255);
    border: solid;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }

  &.red {
    background-color: rgb(236,43,43);
    border: solid;
    border-color: rgb(236,43,43);
    color: rgb(255,255,255);
  }
}
