.under-logo-header {
  margin-bottom: 30px;
  margin-top: -40px;
  color: white;
}

.ux-selector-card-container {
  margin-bottom: 20px;
}

.ux-selector-card-logo-container {
  margin-right: 17px;
  margin-left: 10px;
}

.ux-selector-card-logo {
  margin-bottom: 9px;
  font-size: 35px;
}

.ux-selector-content-container {
  width: 100%;
}

.ux-selector-card-text {
  &.chevron {
    font-size: 35px;
  }
}

.ux-selector-card-body {
  background-color: white;
}

.blue-hover {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  background-color: white;
  color: rgb(86,86,86);
  
  &:hover {
    background-color: #2f65d0;
    color: rgb(230,230,230);
  }
}

.inherit-color {
  color: inherit;
}

//TODO CSS: Move below to more general css file
.unstyled-button {
  all: inherit;
  margin: 0;
  padding: 0;
  max-width: unset;
}

.noshadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


