.pre-auth-container {
  height: 100%;
  background-color: rgba(241,247,252,0);
}

.pre-auth-inner-container {
  width: 100%;
}

.pre-auth-header-container {
  margin-bottom: 51px;
}

.pre-auth-logo-header {
  color: #2f65d0;
}

.pre-auth-body-container {
  margin-bottom: 74px;
}

.pre-auth-input {
  height: 49px;
}

.pre-auth-button-container {
  padding-top: 7px;
}

.pre-auth-button {
  width: 170px;
}

.pre-auth-button-single {
  width: 100%;
}

.input-and-checkbox-container {
  margin-top: 11px;
}
