.pre-auth-container {
  height: 100%;
  background-image: url("../../src/assets/images/verus-graphics/login-screen-bg.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.pre-auth-inner-container {
  width: 100%;
}

.pre-auth-header-container {
  padding-bottom: 80px;
}

.pre-auth-logo-header {
  color: #2f65d0;
}

.pre-auth-body-container {
  margin-bottom: 74px;
}

.pre-auth-help-links-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.pre-auth-help-links-inner-container {
  max-width: 480px;
  flex: 1;
  padding: 25px 0 25px 0;
  display: flex;
}

.pre-auth-help-links-title {
  color: white;
  font-size: 16pt;
}

.pre-auth-help-link {
  color: white;
  font-size: 16pt;
  font-weight: bold;
}

.pre-auth-help-link:link, .pre-auth-help-link:visited, .pre-auth-help-link:hover, .pre-auth-help-link:active { 
  color: white;
  text-decoration: none;
}

.pre-auth-help-links {
  padding-left: 20px;
}

.pre-auth-input {
  height: 49px;
}

.pre-auth-button-container {
  padding-top: 7px;
}

.pre-auth-button {
  width: 170px;
}

.pre-auth-button-single {
  width: 100%;
}

.input-and-checkbox-container {
  margin-top: 11px;
}
