.index-body {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.full-height {
  height: 100%;
}

.index-body::-webkit-scrollbar {
  display: none
}

.hide-scrollbar::-webkit-scrollbar {
  display: none
}
