.coin-mode-border-on-hover {
  transition: border-color 0.3s ease-in-out, 
              border-width 0.3s ease-in-out, 
              padding-right 0.3s ease-in-out, 
              padding-left 0.3s ease-in-out, 
              padding-top 0.3s ease-in-out, 
              padding-bottom 0.3s ease-in-out;

  border-width: 1px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: rgb(0, 0, 0);

  &.abled {
    &:hover {
      border-color: rgb(78,115,223);
      border-width: 3px;
      padding-right: 38px;
      padding-left: 38px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.active-coin-mode {
  border-color: rgb(78,115,223);
  border-width: 3px;
  padding-right: 38px;
  padding-left: 38px;
  padding-top: 8px;
  padding-bottom: 8px;
}