.active-nav-tab-container {
  color: rgb(255,255,255);

  &:hover {
    color: white;
  }
}

.nav-tab-container {
  color: rgb(55, 67, 77);
}

.active-nav-tab {
  background-color: rgb(78,115,223) !important;
  color: white !important;
  border-width: 1px !important;
  border-color: rgb(78,115,223) !important;
  border-style: solid !important;
  border-bottom-style: none !important;
}

.inactive-nav-tab {
  border-width: 1px !important;
  border-color: #A8A8A8 !important;
  border-style: solid !important;
  border-bottom-style: none !important;
  color: black;
}

.inactive-nav-tab-icon {
  color: rgb(78,115,223)
}

.border-on-hover {
  transition: border-color 0.1s ease-in-out, border-width 0.1s ease-in-out, padding 0.1s ease-in-out, background-color 0.1s ease-in-out;
  border-width: 1px;
  padding: 2px;
  
  &:hover {
    // BLUE
    border-color: rgb(78,115,223);
    border-width: 3px;
    padding: 0px;
    background-color: #EFEFEF;
  }
}

.active-card {
  border-color: rgb(78,115,223);
  border-width: 3px;
  padding: 0px;
  background-color: #EFEFEF;
}


